body {
  height: 100vh;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 25px;
  margin: 0px;
  padding: 0px;
} 

.header {
  color: white;
  min-width: 1000px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #226F54;
  padding: 15px 150px 100px 150px;
  gap: 50px;
}

.top {
  display: flex;
  justify-content:space-between;
  padding-top: 30px;
}

a {
  text-decoration: none;
  color: white;
  margin: 10px;
}

.logo {
  font-size: 30px;
  color: #F4F0BB;
  font-family: cursive;
}


.main {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-grow: 1;
}

.jar {
  width: 600px;
  margin-left: 30px;
}

img {
  width: 500px; 
  border: 1px solid black;
  border-radius: 25px;
}

h1 {
  font-size: 48px;
  font-weight: 900;
  padding: 0px;
  margin: 0px;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #DA2C38;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: white;
  font-size: 30px;
  font-weight: bold;
  border: 0.5px solid black;
  padding: 10px;
  border-radius: 25px;
  box-shadow: black;
}

.one {
  margin-top: 30px;
}

h2 {
  font-weight: 600;
  text-align: center;
  margin: 50px 0px;
}

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 100px; 
  flex: 1 0 1000px;
  margin-bottom: 100px;
}

.plum {
  height: 335px;
  object-fit: cover;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

p {
  padding: 20px 0px 0px 0px;
  margin: 0px;
}

.quote {
  min-width: 1000px;
  background-color: #F4F0BB;
  font-style: italic;
  padding: 100px;
  font-size: 40px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sandra {
  margin-left: auto;
  font-weight: 600;
}

.action {
  min-width: 500px;
  background-color: #87C38F;
  color: white;
  display: flex;
  flex-direction: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 100px;
  margin: 150px;
  gap: 50px;
}

h3 {
  padding: 0px;
  margin: 0px;
}

.footer {
  min-width: 1000px;
  background-color: #226F54;
  padding: 30px;
  text-align: center;
  color: white;
}

.last {
  padding: 0px;
}
