body {
  height: 100vh;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: white;
  font-size: 25px;
  margin: 0px;
  padding: 0px;
} 

.header {
  min-width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #226F54;
  padding: 15px 200px 200px 200px;
  gap: 50px;
}

.top {
  display: flex;
  justify-content:space-between;
  padding-top: 30px;
  flex-shrink: 1;
}

a {
  text-decoration: none;
  color: white;
  margin: 10px;
}

.logo {
  font-size: 30px;
  color: #F4F0BB;
  font-family: cursive;
}


.main {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex: 1 0 1000px;
}

img {
  width: 600px; 
  border: 1px solid black;
  border-radius: 25px;
}

h1 {
  font-size: 48px;
  font-weight: 900;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #DA2C38;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: white;
  font-size: 30px;
  font-weight: bold;
  border: 0.5px solid black;
  padding: 10px;
  border-radius: 25px;
  box-shadow: black;
}